.header {
  background-image: url(../images/the-flatiron-building.png);
  text-align: center;


}

.list {
  font-size: 18px;
  font-family: Helvetica;
  color: White;
  font-weight: bold;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text {
  text-align: center;

}

.text #summary {
  font-size: 14px;
  font-family: Helvetica;
}


.des {
  background-image: url(../images/the-flatiron-building.png);
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: White;
}

.intro {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: White;
}

h2  {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;

}

h3 .text {
  font-weight: bold;
}

.footer {
  font-family: Helvetica;
  font-size: 11px;
  color: white;
  background-color: dimgray;
}

.list2 {
  color: White;

}

 #list {
  color: white;
}
